/.bundle
/log/*.log
/tmp
# Ignore the rubocop YAML file that is downloaded when running `rubocop` locally
.rubocop*default-yml
.ruby-version
.ruby-gemset
config/instagram.yml
config/flickr.yml
.capistrano/metrics
/coverage
